# build time
SENTRY_AUTH_TOKEN=sntrys_abc
SENTRY_ORG=bradgarropy
SENTRY_PROJECT=wealth
VITE_SENTRY_DSN=https://ingest.us.sentry.io

# runtime (cloudflare worker)
D1_TOKEN=cfat_abc123
SENTRY_DSN=https://ingest.us.sentry.io
