# build time
SENTRY_AUTH_TOKEN=sntrys_abc
SENTRY_ORG=bradgarropy
SENTRY_PROJECT=wealth
VITE_SENTRY_DSN=https://ingest.us.sentry.io
D1_TOKEN=cfut_abc123

# runtime (cloudflare worker)
SENTRY_DSN=https://ingest.us.sentry.io
